// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

// Margins/ Padding
// ------------------------------------------------------------------------

$gutter-XXS   : 1px;
$gutter-XS    : 3px;
$gutter-S     : 5px;
$gutter-M     : 8px;
$gutter-L     : 15px;
$gutter-XL    : 20px;
$gutter-XXL   : 30px;
$gutter-XXXL  : 50px;
$gutter-input : 10px;

// Spans
// Note: These classes are not semantic - they do not confer information
// regarding the content of the elements they decorate.
// It is recommended to use them for referral, and not to implement them.
// ------------------------------------------------------------------------

.span-12-of-12 {

  @include span(12 of 12);
  @include container;

}

.span-4-of-12 {

  @include breakpoint($oldphone) {

    @include span(12 of 12);

  }

  @include breakpoint($handset) {

    @include span(12 of 12);

  }

  @include breakpoint($tablet) {

    @include span(6 of 12);

  }

  @include span(4 of 12);

}

.span-3-of-12 {

  @include breakpoint($oldphone) {

    @include span(12 of 12);

  }

  @include breakpoint($handset) {

    @include span(12 of 12);

  }

  @include breakpoint($tablet) {

    @include span(6 of 12);

  }

  @include span(3 of 12);

}

