// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

// Text sizing
// ----------------------------------------------------------------------------

$text-size-XXS       : 5px;
$text-size-XS        : 9px;
$text-size-S         : 12px;
$text-size-M         : 16px;
$text-size-L         : 20px;
$text-size-XL        : 24px;
$text-size-XXL       : 34px;
$text-base-font-size : $text-size-M ; // Set on body

// Line heights
// ----------------------------------------------------------------------------

$text-line-XXL : 37;
$text-line-XL  : 35;

// Fonts
// ----------------------------------------------------------------------------

$text-family-sans    : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!default;
$text-default-family : $text-family-sans;

// Anchors
// ----------------------------------------------------------------------------

a {

  text-decoration: none;

}
