extends layout

block title
  title Pattern Library

block content

  h1 Pattern Library
  nav
    ul
      li
        a(href="#grid") Grid
      li
        a(href="#colors") Colors
      li
        a(href="#controls") Controls
      li
        a(href="#content") Content
      li
        a(href="#notifications") Notifications
      li
        a(href="#forms") Forms
      li
        a(href="#navigation") Navigation
      li
        a(href="#modals") Modals

  //---------------------------------------------------------------------------
  h2#grid Grid
  a(href="#grid").fa.fa-anchor
  //---------------------------------------------------------------------------

  h3 Breakpoints

  .breakpoints
    p.fa.fa-eye

  h3 Layout
  .span-12-of-12
    p span-12-of-12

    .span-3-of-12
      p span-3-of-12
    .span-3-of-12
      p span-3-of-12
    .span-3-of-12
      p span-3-of-12
    .span-3-of-12
      p span-3-of-12

  .span-12-of-12
    p span-12-of-12

    .span-4-of-12
      p span-4-of-12
    .span-4-of-12
      p span-4-of-12
    .span-4-of-12
      p span-4-of-12

  //---------------------------------------------------------------------------
  h2#typography Typography
  a(href="#typography").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern
    thead
      tr
        th
          p Element
        th
          p Example
    tbody
      tr
        td
          p Header 1
        td
          h1 H1

      tr
        td
          p Header 2
        td
          h2 H2

      tr
        td
          p Header 3
        td
          h3 H3

      tr
        td
          p Header 4
        td
          h4 H4

      tr
        td
          p Header 5
        td
          h5 H5

      tr
        td
          p Header 6
        td
          h6 H6

      tr
        td
          p Paragraph text.
        td
          p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          p Another.

          p
            strong this text is bold

          p
            em this text is emphasised 

          p
            small this text is small

  //---------------------------------------------------------------------------
  h2#colors Colors
  a(href="#colors").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern
      tr
        td
          h2 Colours


  //---------------------------------------------------------------------------
  h2#controls Controls
  a(href="#controls").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern
    thead
      tr
        th
          h3 Dropdowns
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Buttons
    tbody
      tr
        td

  //---------------------------------------------------------------------------
  h2#content Presenting content
  a(href="#content").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern

    thead
      tr
        th
          h3 Tables
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Slats
      tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Lists
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Charts
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Content groups
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Code box
    tbody
      tr
        td

  //---------------------------------------------------------------------------
  h2#notifications  Notifications
  a(href="#notifications").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern

    thead
      tr
        th
          h3 Spinners
    tbody
      tr
        td
  table.table-pattern

    thead
      tr
        th
          h3 Progress bars
    tbody
      tr
        td
  table.table-pattern

    thead
      tr
        th
          h3 Toasts
    tbody
      tr
        td
  table.table-pattern

    thead
      tr
        th
          h3 Alerts
    tbody
      tr
        td

  //---------------------------------------------------------------------------
  h2#forms Forms
  a(href="#forms").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern
    thead
      tr
        th
          p Element
        th
          p Example
    tbody
      tr
        td
          p Form Element
        td
          form
      tr
        td
          p Fieldset
        td
          form.form
            fieldset
              legend Fieldset 1 legend
            fieldset
              legend Fieldset 2 legend

      tr
        td
          p Inputs
        td
          form
            label(for="input-text")
            input#input-text(type="text", placeholder="Text input")

            label(for="input-checkbox")
            input#input-checkbox(type="checkbox")

            label(for="input-radio1")
            input#input-radio1(type="radio")
            input#input-radio2(type="radio")
            input#input-radio3(type="radio")
            input#input-radio4(type="radio")

            label(for="input-select")
            select#input-select
              option Option 1
              option Option 2
              option Option 3

            label(for="input-textarea")
            textarea#input=textarea


  table.table-pattern

    thead
      tr
        th
          h3 Form validation
    tbody
      tr
        td

  //---------------------------------------------------------------------------
  h2#navigation Navigation
  a(href="#navigation").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern

    thead
      tr
        th
          h3 Links
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Tabs
    tbody
      tr
        td

  table.table-pattern

    thead
      tr
        th
          h3 Breadcrumbs
    tbody
      tr
        td

  //---------------------------------------------------------------------------
  h2#modals Modals
  a(href="#modals").fa.fa-anchor
  //---------------------------------------------------------------------------

  table.table-pattern

    thead
      tr
        th
