// ----------------------------------------------------------------------------
// Colours
// ----------------------------------------------------------------------------

$clr-bg          : #efefef;
$clr-body-copy   : #444;


$clr-link-off    : #449;
$clr-link-hover  : #66b;
$clr-link-active : #88d;



// Grey ramp
// ----------------------------------------------------------------------------

$clr-grey-0 : #333; // darkest
$clr-grey-1 : #555;
$clr-grey-2 : #777;
$clr-grey-3 : #999;
$clr-grey-4 : #bbb;
$clr-grey-5 : #ddd;
$clr-grey-6 : #eee; // lightest


















